src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://banque/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://banque/" name="bank">
<types>
<xsd:schema>
<xsd:import namespace="http://banque/" schemaLocation="http://localhost:2020/?xsd=1"/>
</xsd:schema>
</types>
<message name="conversion">
<part name="parameters" element="tns:conversion"/>
</message>
<message name="conversionResponse">
<part name="parameters" element="tns:conversionResponse"/>
</message>
<message name="getlistcompte">
<part name="parameters" element="tns:getlistcompte"/>
</message>
<message name="getlistcompteResponse">
<part name="parameters" element="tns:getlistcompteResponse"/>
</message>
<message name="getcompte">
<part name="parameters" element="tns:getcompte"/>
</message>
<message name="getcompteResponse">
<part name="parameters" element="tns:getcompteResponse"/>
</message>
<portType name="banqueService">
<operation name="conversion">
<input wsam:Action="http://banque/banqueService/conversionRequest" message="tns:conversion"/>
<output wsam:Action="http://banque/banqueService/conversionResponse" message="tns:conversionResponse"/>
</operation>
<operation name="getlistcompte">
<input wsam:Action="http://banque/banqueService/getlistcompteRequest" message="tns:getlistcompte"/>
<output wsam:Action="http://banque/banqueService/getlistcompteResponse" message="tns:getlistcompteResponse"/>
</operation>
<operation name="getcompte">
<input wsam:Action="http://banque/banqueService/getcompteRequest" message="tns:getcompte"/>
<output wsam:Action="http://banque/banqueService/getcompteResponse" message="tns:getcompteResponse"/>
</operation>
</portType>
<binding name="banqueServicePortBinding" type="tns:banqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="conversion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getlistcompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getcompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="bank">
<port name="banqueServicePort" binding="tns:banqueServicePortBinding">
<soap:address location="http://localhost:2020/"/>
</port>
</service>
</definitions>